[Unit]
Description=Iot Server
After=apache2
After=mongod

[Service]
ExecStart= /home/iot-server/.nvm/versions/node/v23.7.0/bin/node /home/iot-server/tower-server/aioUpdate.js
Restart=always
User=nobody
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/iot-server/tower-server/

[Install]
WantedBy=multi-user.target